
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin-bottom: 60px; 

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header p {
    margin: 0;
    font-size: 18px;
}

#about {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.about-content {
    max-width: 600px;
    margin: 0 auto;
}

.about-content img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.about-content h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
}

#skills {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
}

#skills h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 20px;
}

#projects {
    padding: 50px 0;
    text-align: center;
}

#projects h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    max-width: 30%;
    border-radius: 5px;
}

.project h3 {
    margin-top: 10px;
    font-size: 40px;
}

.project p {
    font-size: 16px;
}

#resume {
    padding: 50px 0;
    text-align: center;
}

#resume h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#resume a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#resume a:hover {
    color: #0056b3;
}

#contact {
    padding: 50px 0;
    text-align: center;
    margin-bottom: 80px; 

#contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#contact p {
    font-size: 18px;
    margin-bottom: 10px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

